# macOS
.DS_Store

# Xcode user data
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# Build products
DerivedData/
build/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Xcode local workspace state
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/

# Arduino / embedded temporary files
*.bin
*.elf
*.map

# Editors
.vscode/
.idea/
